# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Envs
.env
*.env
venv/
.env.*

# Logs
*.log

# Json
#*.json

# Data
# *.csv
*.parquet
data/
mlruns/

# Secrets
secrets/*
*.env.secrets