data_sources==0.0.1
Faker==37.1.0
fastapi==0.115.12
kafka_python==2.1.4
nest_asyncio==1.6.0
orjson==3.10.16
pandas==2.2.3
psutil==7.0.0
pyngrok==7.2.3
python-dotenv==1.1.0
regex==2024.11.6
Requests==2.32.3
uvicorn==0.34.0
